# Ignore everything by default
*

# Keep Git metadata files
!.gitignore
!README.md
!Dockerfile
!docker-compose.yml

# Keep project folders
!html/
!images/
!js/

# Re-include all files inside kept folders
!html/**
!images/**
!js/**

# Ignore specific generated / private assets
html/assets/*.pdf
